@import "primeicons/primeicons.css";

@layer tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.p-splitter {
  width: 100vw !important;
}

.p-splitter-panel {
  width: 100% !important;
}

.p-card {
  width: 100% !important;
}